.vscode/**
.vscode-test/**
.github/**
src/**
webview-src/**
test/**
node_modules/**
**/*.map
**/*.ts
!dist/**/*.js
tsconfig*.json
esbuild.config.mjs
vite.config.ts
tailwind.config.js
postcss.config.js
.eslintrc.cjs
.prettierrc
.gitignore
.gitattributes
DESIGN.md
